<!DOCTYPE html>
<html>
  <head>
    <title>RAIDA DATA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="RAIDA,RAIDADATA,RAIDAtech,CloudCoin,BitShares,exchange,Cloud Currency">
    <meta name="description" content="RAIDA DATA is the next generation data transfer and authentication">
    <meta name="subject" content="">
    <meta name="copyright"content="RAIDA DATA">
    <meta name="language" content="EN">
    <meta name="topic" content="">    
    <meta name="author" content="Dipen Chauhan, info@cloudcoin.global">
    <meta name="designer" content="Dipen Chauhan">
    <meta name="reply-to" content="support@raidatech.com">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
